<div class="create-wrapper">
  <div class="create-container">

    <i class="fa fa-compass compass-icon" aria-hidden="true"></i>
    <h1>Create an Escape</h1>
    <div class="create-form-wrapper">
      <form class="create-form" name="eventForm" novalidate>

    <!-- <!- Name -->
        <div class="form-row-wrapper">
          <p class="small uppercase form-title">Name</p>
          <div class="row-titles form-row">
            <p>Give your escape a title</p>
          </div>
          <div class="name-row form-row">
            <input name="name" type="text" ng-model="newEvent.name" ng-required="true"><br>
          </div>
        </div>



  <!-- Location -->
        <div class="form-row-wrapper">
          <p class="small uppercase form-title">Location</p>
          <div class="row-titles form-row">
            <p class="input-1">*City</p>
            <p class="input-2">*State</p>
            <p class="input-3">*Zip</p>
          </div>
          <div class="location-row form-row">
            <input class="input-1" name="city" type="text" ng-model="newEvent.city" ng-required="true"><br>
            <input class="input-2" name="state" type="text" ng-model="newEvent.state" ng-required="true"><br>
            <input class="input-3" name="zipcode" type="number" ng-model="newEvent.zipcode" ng-required="true"><br>
          </div>
        </div>


      <!-- Date -->
          <div class="form-row-wrapper">
            <p class="small uppercase form-title">Date and Time</p>
            <div class="date-wrapper">
              <div class="row-titles form-row">
                <p class="two-column">Start Date</p>
                <p class="two-column">End Date (optional)</p>
              </div>
              <div class="date-row form-row">
                <input name="date" type="date" placeholder="MM/DD/YYYY" ng-model="newEvent.startDate" ng-required="true"><br>
                <input name="date" type="date" placeholder="MM/DD/YYYY" ng-model="newEvent.endDate"><br>
              </div>
              <div class="row-titles form-row">
                <p class="two-column">Start Time</p>
                <p class="two-column">End Time (optional)</p>
              </div>
              <div class="date-row form-row">
                <input name="time" type="time" placeholder="00:00" ng-model="newEvent.startTime" ng-required="true"><br>
                <input name="time" type="time" placeholder="00:00" ng-model="newEvent.endTime"><br>
              </div>
            </div>
          </div>

      <!-- Activities -->
          <div class="row-titles form-row">
            <p>Activity Type (Check all that apply)</p>
          </div>

          <div class="interests-row form-row">
            <div class="icon-row">
            <div ng-repeat="activityType in activityTypes">
                <div class="icon-box">
                  <img class="activity-icon" ng-src="{{activityType.image_url}}">
                  <input class="checkbox" name="activityTypes" type="checkbox" ng-model="activityTypeId" ng-change="toggleActivityType(activityType.id)"><br>
                </div>
              </div>
          </div>
        </div>

          <!-- Guests -->
          <div class="form-row-wrapper">
            <p class="small uppercase form-title">Who Can Join</p>
            <div class="experience-wrapper">
              <div class="row-titles form-row">
                <p >Experience Level</p>
              </div>
              <div class="experience-row form-row">
                <select class="form-row select-box" name="experience" ng-model="newEvent.experienceLevel" ng-required="true">
                  <option value="beginner" selected>Beginner</option>
                  <option value="intermediate">Intermediate</option>
                  <option value="expert">Expert</option>
                  <option value="all">All Levels</option>
                </select>
              </div>
            </div>
            <div class="date-wrapper">
              <div class="row-titles form-row">
                <p class="two-column">Gender</p>
                <p class="two-column">Max # of People</p>
                <p class="two-column">Price / Person</p>
              </div>
              <div class="date-row form-row">
                <select class="select-box two-column" name="gender" ng-model="newEvent.gender" ng-required="true">
                  <option value="mixed">Doesn't Matter</option>
                  <option value="male">Boys Only</option>
                  <option value="female">Girls Only</option>
                </select>
                <input name="numpeople" type="number" min="1" max="30+" step="1" ng-model="newEvent.maxNumPeople" ng-required="true"><br>
                <input name="price" type="text" placeholder="$" ng-model="newEvent.price"><br>
              </div>
            </div>
          </div>

      <!-- Description -->
          <div class="form-row-wrapper">
            <p class="small uppercase form-title">Description</p>
            <div class="row-titles form-row">
              <p>Describe your event</p>
            </div>
            <div class="description-row form-row">
              <input name="description" type="text" ng-model="newEvent.description"><br>
            </div>
          </div>

      </form>
      <p ng-show="eventForm.$touched && eventForm.$invalid">*Please fill out all required fields</p>
      <button class="submit-button button" ng-click="createEvent(newEvent)">Create Event</button>
    </div>
  </div>

  <div class="top-footer-image">
    <img class="compass-graphic" src="./img/compass.png">
  </div>
  </div>


</div>
