<div class="profile-wrapper">
  <div class="side-navigation">
  </div>
  <div class="profile-content">

    <div class="profile-header gradient-bg">
      <div class="profile-image">
      </div>
    </div>

    <div class="user-information">
      <h1 class="logo-text large">Name Smith</h1>
      <div class="essential-info small">
        <ul>
          <li>Age</li>
          <li>Gender</li>
          <li>Location</li>
        </ul>
      </div>

      <div class="user-activities">
          <p class="small uppercase">Activities</p>
        </div>

      <div class="user-trips">
        <p class="small uppercase line-break">Hosted Trips</p>
        <p class="small uppercase line-break">Trips I've Joined</p>
      </div>
    </div>

  </div>

</div>
