<div class="header-background">
  <p class="white-font medium">let's go on an</p>
  <p class="white-font logo-text large">adventure</p>
</div>
  <div class="sub-navigation">
    <ul class="escape-links white-font">
      <li ui-sref="create"><i class="fa fa-compass" aria-hidden="true"></i> Create an Escape</li>
      <li>| |</li>
      <li><i class="fa fa-search" aria-hidden="true"></i> Search Escapes</li>
    <ul>
  </div>
<div class="body-container">
  <div class="destinations-row">
    <h2>-- Popular Destinations --</h2>

    <div class="destinations-wrapper">
      <div class="image-box large-box hover-zoom">
        <div class="layer">
          <p class="white-font small">Salt Lake City</p>
        </div>
      </div>
        <div class="column-2">
          <div class="small-box-wrapper">
            <div class="image-box small-box-1">
              <div class="layer">
                <p class="white-font small">Moab</p>
              </div>
            </div>
            <div class="image-box small-box-2">
              <div class="layer">
                <p class="white-font small">Colorado Springs</p>
              </div>
            </div>
          </div>
          <div class="image-box medium-box">
            <div class="layer">
              <p class="white-font small">Jackson</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="top-footer-image">
  <img class="compass-graphic" src="./img/compass.png">
</div>
