html, body {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
}

h1, h2 {
  font-family: 'EB Garamond', sans-serif;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.5em;
}

p {
  margin: 5px 0;
  color: #21252B;
}

p, span, li {
  font-family: 'EB Garamond', serif;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tiny {
  font-size: 0.8em;
}

.small {
  font-size: 1.4em;
}

.medium {
  font-size: 1.8em;
  letter-spacing: 0.1em;
}

.large {
  font-size: 3.2em!important;
  text-transform: uppercase;
}

.line-break {
  margin: 30px 0;
}

.logo-text {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2em;
  color: #21252B;
}

.white-font {
  color: #fff;
}

.light-green-font {
  color: #A6BD83;
}

.button {
  font-family: 'EB Garamond', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  height: 34px;
  letter-spacing: 0.1em;
}

.submit-button {
  margin-left: auto;
  background: #21252B;
  color: #fff;
  padding: 5px 20px;
  margin-top: 15px;
}

.gradient-bg {
  background: -moz-linear-gradient(-45deg, #e7f9e5 0%, #c3d8b1 44%, #94A857 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e7f9e5 0%,#c3d8b1 44%,#94A857 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e7f9e5 0%,#c3d8b1 44%,#94A857 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f9e5', endColorstr='#94A857',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*.page-container {
   min-height:100%;
   position:relative;
}*/

.ng-hide {
  display: none!important;
}

/* ---- Header Styles ---- */

.top-navigation {
  height: 50px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*position: fixed;
  top: 0;
  z-index: 999;*/
}

.escapals-logo {
  margin-right: auto;
  margin-left: 20px;
}

.sign-up {
  width: 115px;
  margin-right: 10px;
  background: #015847;
}

.log-in {
  width: 85px;
  margin-right: 10px;
  color: #015847;
  border: 1px solid #015847;
  height: 32px;
}

.dropdown-menu {
  font-size: 1.2em!important;
  margin-right: 20px;
}

.body-wrapper {
  /*margin-top: 50px;*/
}

/* ---- Footer Styles ---- */

.compass-graphic {
  width: 300px;
}


.top-footer-image {
  text-align: center;
  margin-bottom: -7px;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 220px;
  background: #21252B;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;
  background: #94A857;
}

.column-list {
  display: flex;
  flex-direction: column;
}

.column-list li {
  text-align: center;
  padding: 8px 0;
  color: #A6BD83;
}

.column-list li:first-child {
  padding-top: 0;
}

.left-footer, .middle-footer, .right-footer {
  margin: 20px 60px;
}

.right-footer {
  text-align: left;
}

.left-bottom-footer {
  margin-right: auto;
  margin-left: 20px;
}

.right-bottom-footer {
  margin-right: 20px;
}

/* ---- Main Page Styles ---- */

.header-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  background: url('./img/hipsters.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* ---- Main Page Navigation Styles ---- */


.sub-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #015847;
  width: 100%;
}

.escape-links li {
  padding: 0 8px;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

/* ---- Main Page Body Styles ---- */

.destinations-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}

.destinations-wrapper {
  width: 90%;
}

/* --- Main Page Destination Images ---- */

.layer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: RGBA(33, 37, 43, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.large-box {
  background: url('./img/slc.jpg');
  background-size: cover;
}

.small-box-1 {
  background: url('./img/moab.jpg');
  background-size: cover;
  background-position: center;
}

.small-box-2 {
  background: url('./img/cosprings.jpg');
  background-size: cover;
  background-position: center;
}

.medium-box {
  background: url('./img/jackson.jpg');
  background-size: cover;
  background-position: center;
}

/* ---- Sign Up Page Styles ---- */


.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  width: 96%;
  margin: 0 auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  max-width: 650px;
}

.signup-form input {
  height: 30px;
  border-radius: 5px;
  border: none;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0;
}

.row-titles {
  justify-content: flex-start;
  font-size: 1.2em;
  margin: 10px 0 -2px -2px;
  text-align: left;
}


.login-row {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-row input {
  width: 100%;
}

.login-title {
  font-size: 1.2em;
  margin-right: auto;
}

.name-age-row input, .location-row input, .row-titles p {
  margin: 0 7px;
}

.input-1, .input-2 {
  flex-grow: 2;
}

.input-3 {
  width: 65px;
}

.location-row {
  margin-bottom: 20px;
}

.bio-row input {
  width: inherit;
  height: 100px;
}

.interests-row input {
  width: 18px;
  height: 18px;
}

.interests-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0 ;
}

.icon-box {
  margin: 0 18px;
  padding: 20px 0;
}

.activity-icon {
  height: 45px;
}

/* --- Log in Styles ---- */

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  max-width: 650px;
}

.login-row {
    width: 90%;
    max-width: 400px;
}


.login-form input {
  height: 30px;
  border-radius: 5px;
  border: none;
}

/* ---- Create Escape Styles ---- */

.create-wrapper {
  background: #d9d9d9;
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compass-icon {
  font-size: 4em!important;
  margin-top: 50px;
}

.create-form-wrapper {
  width: 100%;
  max-width: 750px;
}

.create-form {
  height: 550px;
  background:  #ccc;
  overflow: scroll;
  margin: 0px 0 40px 0;
  padding: 20px;
}

.form-row-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}


.create-form input {
  height: 30px;
  border-radius: 5px;
  border: none;
}

.name-row input {
  width: inherit;
}

.date-wrapper {
  text-align: center;
}

.date-row input {
  width: 180px;
  margin: 0 20px;
}

.two-column {
  width: 180px;
  margin: 0 20px!important;
}

.experience-wrapper {
  width: 240px;
}

.select-box {
  height: 30px;
}

.description-row input {
  height: 175px;
  width: 100%;
}

/* ---- Profile Page ---- */

.profile-wrapper {
  display: flex;
  flex-direction: row;
}

.profile-content {
  flex-grow: 1;
}

.profile-header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.profile-image {
  background: #fff;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: -90px;
}

.user-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}

.user-information h1 {
  margin-bottom: 10px;
}

.essential-info {
  text-align: center;
  width: 100%;
}

.essential-info ul li {
  padding: 0 1em;
}

.user-activities, .user-trips {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

/* ---- Search Escapes Page ---- */

.search-wrapper {
  display: flex;
  flex-direction: row;
}

.search-side-navigation, .side-search-criteria {
  display: none;
}

.search-content {
  flex-grow: 1;
  text-align: center;
}

.search-header {
  height: 300px;
  background: url('./img/trip-items.jpg');
  background-size: cover;

}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.criteria-row {
  text-align: center;
  margin: 10px 0;
}

.mobile-search-criteria {}

.event-row {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  width: 80%;
  background: #A6BD83;
  margin: 20px auto;
  align-items: center;
}

.event-box {
  text-align: center;
  width: 30%;
  padding: 10px 30px;
}

.event-description {
  text-align: center;
  width: 70%;
  padding: 10px 30px;
}

.event-box p {
  padding: 10px 0;
}

.event-criteria {
  padding-bottom: 10px;
}

.event-criteria li {
  padding: 0 1.3em;
}

/* ---- Event Info Page ---- */

.event-info-wrapper {
  background: #fafafa;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
}

.event-header {
  width: 85%;
  margin: 0 auto;
  min-width: 825px;
}

.event-info-container {
  background: #fff;
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
  border: 1px solid #d9d9d9;
  border-top: 0;
  min-width: 825px;
}

.event-image {
  background: #fff;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: -40px;
}

.event-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.main-event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
}

.guest-info {
  width: 20%;
  height: auto;
  background: red;
}

.event-activities, .event-trips {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}


/* ---- Media Queries ---- */

@media only screen and (max-width: 575px) {

  .image-box {
    height: 125px;
    width: auto;
    margin: 10px auto;
  }

}

@media only screen and (min-width: 420px) {

  .escape-links li {
    padding: 0 15px;
    font-size: 1.1em;
  }

  .left-bottom-footer ul li {
    padding: 0 10px;
  }

}

@media only screen and (min-width: 575px) {

  /* --- Destination Images ---- */

  .destinations-wrapper {
    display: flex;
  }

  .large-box, .column-2 {
    height: 350px;
    flex-basis: 0;
    flex-grow: 1;
  }

  .large-box {
    margin-right: 5px;
  }

  .column-2 {
    display: flex;
     flex-flow: column nowrap;
     margin-left: 5px;
  }

  .small-box-wrapper  {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 150px;
    margin-bottom: 5px;
  }

  .small-box-1, .small-box-2 {
    flex-basis: 0;
    flex-grow: 1;
  }

  .small-box-1 {
    margin-right: 5px;
  }

  .small-box-2 {
    margin-left: 5px;
  }

  .medium-box {
    height: 190px;
    padding: 0;
    margin-top: 5px;
  }

  /* --- Sign Up ---- */

  .icon-box {
    margin: 0 40px;
  }

  /* ---- Profile ---- */

  .essential-info ul li {
    padding: 0 2em;
  }

  /* --- Footer ---- */


  .main-footer {
    justify-content: space-between;
  }

  .column-list li {
    text-align: left;
  }

  .escape-links li {
    padding: 0 20px;
    font-size: 1.2em;
  }

  .top-footer-image {
    text-align: left;
    margin-left: -5px;
  }

}

@media only screen and (min-width: 900px) {

  /* ---- Profile ---- */
  .side-navigation {
    flex-basis: 20%;
    background: #2d3239;
  }

  .profile-content {
    flex-grow: 1;
  }

  .essential-info ul li {
    padding: 0 4em;
  }

}

@media only screen and (min-width: 1000px) {
  /* --- Search ---- */

  .search-side-navigation {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    background: #2d3239;
  }

  .side-search-criteria {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: inherit;
    background: inherit;
    margin: 70px 10px;
  }

  .side-search-criteria p {
    margin: 20px 0;
  }

  #search-activities p {
    text-align: center;
  }

  #search-activities .icon-box {
    height: 20px;
    margin: 0 15px;
  }

  #search-activities .activity-icon {
  -webkit-filter: invert(80%); /* Safari 6.0 - 9.0 */
   filter: invert(80%);
  }

}
